---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title="About">
  <h1
    class="text-orange-500 text-shadow-lg text-shadow-orange-700/50 px-2 text-4xl font-bold mb-4 w-full border-b-2 border-dotted py-2 border-white/30"
  >
    About
  </h1>

  <div class="mb-6 bg-orange-500/10 p-4 rounded-lg max-w-md">
    <ul class="list-style-none flex flex-col gap-2">
      <li class="flex items-center gap-2 w-full justify-between">
        <span class="font-bold">Name</span> Michael (he/him/they)
      </li>
      <li class="flex items-center gap-2 w-full justify-between">
        <span class="font-bold">Age</span> 33
      </li>
      <li class="flex items-center gap-2 w-full justify-between">
        <span class="font-bold">Location</span> Richmond, VA, USA
      </li>
      <li class="flex items-center gap-2 w-full justify-between">
        <span class="font-bold">Occupation</span> Software Engineer
      </li>
    </ul>
  </div>

  <p class="text-lg mb-4 leading-loose">
    Hiya! My name is Michael. I am a multi-disciplinary creative nerd person who
    got my start in the web in the early 2000s. From small fansites and being an
    active member of the RPG Maker community, I've grown into a professional
    programmer who hobbies in game development, music, and art &mdash; oh! and
    I've started keeping fish! 🐟🐟
  </p>

  <p class="text-lg mb-4 leading-loose">
    I have even released some video games for folks to play - most of which were
    made for game jams:
    <a href="https://ghostdoor.itch.io" target="_blank">My games on Itch.io</a>
  </p>

  <p class="text-lg mb-4 leading-loose">
    Professionally, I am a web software engineer, but Black Star Fantasy is my
    personal site to dive into the nostalgia of my early days on the web whilst
    also exploring my creativity with the medium I have grown up with.
  </p>
</DefaultLayout>
