---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title="Home">
  <h1
    class="text-orange-500 text-shadow-lg text-shadow-orange-700/50 px-2 text-4xl font-bold mb-4 w-full border-b-2 border-dotted py-2 border-white/30"
  >
    Welcome!
  </h1>

  <p class="text-lg mb-4">
    <strong>Black Star Fantasy</strong> is a personal site that serves as a homage
    to one of my very first websites, originally authored in 2003. To the best of
    my memory, I've tried to capture the essence of that site - which was a very
    small anime and gaming fan site with some Photoshop tutorials thrown in - whilst
    reimagining it for the new era using my since-developed skills.
  </p>

  <p class="text-lg mb-4">
    Most importantly, thanks for visiting! Be sure to check back every so often
    for updates. I am building this site in a somewhat unconventional way for a
    Neocities site, so I'm hoping I can take a few of you along for the ride and
    we can all learn something together!
  </p>
</DefaultLayout>
