---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout>
  <h1
    class="bg-black/50 backdrop-blur-sm px-2 text-4xl font-bold mb-4 w-full border-b-2 border-dotted py-2 border-white/30"
  >
    Home
  </h1>

  <p class="text-md mb-3 px-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui amet atque
    enim beatae, sunt quas similique, quidem impedit quibusdam voluptas mollitia
    ipsam? Quasi nobis non qui pariatur vitae expedita molestias. Aspernatur
    animi vero dolores saepe accusamus, molestias, recusandae autem dolorum
    atque nemo tempora nobis, numquam molestiae quae voluptatibus dignissimos
    amet odio facilis rerum. Et ab totam corrupti quis fuga iste! Eveniet nemo
    inventore delectus laborum possimus perspiciatis natus voluptates fugit ab
    veniam, laboriosam ratione odio quas maxime qui dolorem voluptatibus!
    Dignissimos tempore saepe porro incidunt quisquam quo illum aperiam error!
    Pariatur aliquam ullam id fugiat quos ipsam cumque. Beatae, quasi quia.
    Corrupti eligendi eaque molestiae error doloribus quisquam ut? Totam amet
    cumque atque cum consequuntur ipsum tempora voluptate iusto! Modi. Neque
    sit, mollitia cum doloribus eum expedita saepe aperiam quidem beatae placeat
    dolor ab magnam nihil voluptatibus ea praesentium officiis blanditiis illum
    laudantium! Possimus placeat reiciendis, quam perspiciatis officiis aliquid.
  </p>
  <h2
    class="bg-black/50 backdrop-blur-sm px-2 text-2xl font-bold mb-4 w-full border-b-2 border-dotted py-2 border-white/30 mt-16"
  >
    Oh, shit!!!!
  </h2>

  <p class="text-md mb-3 px-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui amet atque
    enim beatae, sunt quas similique, quidem impedit quibusdam voluptas mollitia
    ipsam? Quasi nobis non qui pariatur vitae expedita molestias. Aspernatur
    animi vero dolores saepe accusamus, molestias, recusandae autem dolorum
    atque nemo tempora nobis, numquam molestiae quae voluptatibus dignissimos
    amet odio facilis rerum. Et ab totam corrupti quis fuga iste! Eveniet nemo
    inventore delectus laborum possimus perspiciatis natus voluptates fugit ab
    veniam, laboriosam ratione odio quas maxime qui dolorem voluptatibus!
    Dignissimos tempore saepe porro incidunt quisquam quo illum aperiam error!
    Pariatur aliquam ullam id fugiat quos ipsam cumque. Beatae, quasi quia.
    Corrupti eligendi eaque molestiae error doloribus quisquam ut? Totam amet
    cumque atque cum consequuntur ipsum tempora voluptate iusto! Modi. Neque
    sit, mollitia cum doloribus eum expedita saepe aperiam quidem beatae placeat
    dolor ab magnam nihil voluptatibus ea praesentium officiis blanditiis illum
    laudantium! Possimus placeat reiciendis, quam perspiciatis officiis aliquid.
  </p>
  <p class="text-md mb-3 px-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui amet atque
    enim beatae, sunt quas similique, quidem impedit quibusdam voluptas mollitia
    ipsam? Quasi nobis non qui pariatur vitae expedita molestias. Aspernatur
    animi vero dolores saepe accusamus, molestias, recusandae autem dolorum
    atque nemo tempora nobis, numquam molestiae quae voluptatibus dignissimos
    amet odio facilis rerum. Et ab totam corrupti quis fuga iste! Eveniet nemo
    inventore delectus laborum possimus perspiciatis natus voluptates fugit ab
    veniam, laboriosam ratione odio quas maxime qui dolorem voluptatibus!
    Dignissimos tempore saepe porro incidunt quisquam quo illum aperiam error!
    Pariatur aliquam ullam id fugiat quos ipsam cumque. Beatae, quasi quia.
    Corrupti eligendi eaque molestiae error doloribus quisquam ut? Totam amet
    cumque atque cum consequuntur ipsum tempora voluptate iusto! Modi. Neque
    sit, mollitia cum doloribus eum expedita saepe aperiam quidem beatae placeat
    dolor ab magnam nihil voluptatibus ea praesentium officiis blanditiis illum
    laudantium! Possimus placeat reiciendis, quam perspiciatis officiis aliquid.
  </p>
  <p class="text-md mb-3 px-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui amet atque
    enim beatae, sunt quas similique, quidem impedit quibusdam voluptas mollitia
    ipsam? Quasi nobis non qui pariatur vitae expedita molestias. Aspernatur
    animi vero dolores saepe accusamus, molestias, recusandae autem dolorum
    atque nemo tempora nobis, numquam molestiae quae voluptatibus dignissimos
    amet odio facilis rerum. Et ab totam corrupti quis fuga iste! Eveniet nemo
    inventore delectus laborum possimus perspiciatis natus voluptates fugit ab
    veniam, laboriosam ratione odio quas maxime qui dolorem voluptatibus!
    Dignissimos tempore saepe porro incidunt quisquam quo illum aperiam error!
    Pariatur aliquam ullam id fugiat quos ipsam cumque. Beatae, quasi quia.
    Corrupti eligendi eaque molestiae error doloribus quisquam ut? Totam amet
    cumque atque cum consequuntur ipsum tempora voluptate iusto! Modi. Neque
    sit, mollitia cum doloribus eum expedita saepe aperiam quidem beatae placeat
    dolor ab magnam nihil voluptatibus ea praesentium officiis blanditiis illum
    laudantium! Possimus placeat reiciendis, quam perspiciatis officiis aliquid.
  </p>
  <p class="text-md mb-3 px-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui amet atque
    enim beatae, sunt quas similique, quidem impedit quibusdam voluptas mollitia
    ipsam? Quasi nobis non qui pariatur vitae expedita molestias. Aspernatur
    animi vero dolores saepe accusamus, molestias, recusandae autem dolorum
    atque nemo tempora nobis, numquam molestiae quae voluptatibus dignissimos
    amet odio facilis rerum. Et ab totam corrupti quis fuga iste! Eveniet nemo
    inventore delectus laborum possimus perspiciatis natus voluptates fugit ab
    veniam, laboriosam ratione odio quas maxime qui dolorem voluptatibus!
    Dignissimos tempore saepe porro incidunt quisquam quo illum aperiam error!
    Pariatur aliquam ullam id fugiat quos ipsam cumque. Beatae, quasi quia.
    Corrupti eligendi eaque molestiae error doloribus quisquam ut? Totam amet
    cumque atque cum consequuntur ipsum tempora voluptate iusto! Modi. Neque
    sit, mollitia cum doloribus eum expedita saepe aperiam quidem beatae placeat
    dolor ab magnam nihil voluptatibus ea praesentium officiis blanditiis illum
    laudantium! Possimus placeat reiciendis, quam perspiciatis officiis aliquid.
  </p>
  <p class="text-md mb-3 px-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui amet atque
    enim beatae, sunt quas similique, quidem impedit quibusdam voluptas mollitia
    ipsam? Quasi nobis non qui pariatur vitae expedita molestias. Aspernatur
    animi vero dolores saepe accusamus, molestias, recusandae autem dolorum
    atque nemo tempora nobis, numquam molestiae quae voluptatibus dignissimos
    amet odio facilis rerum. Et ab totam corrupti quis fuga iste! Eveniet nemo
    inventore delectus laborum possimus perspiciatis natus voluptates fugit ab
    veniam, laboriosam ratione odio quas maxime qui dolorem voluptatibus!
    Dignissimos tempore saepe porro incidunt quisquam quo illum aperiam error!
    Pariatur aliquam ullam id fugiat quos ipsam cumque. Beatae, quasi quia.
    Corrupti eligendi eaque molestiae error doloribus quisquam ut? Totam amet
    cumque atque cum consequuntur ipsum tempora voluptate iusto! Modi. Neque
    sit, mollitia cum doloribus eum expedita saepe aperiam quidem beatae placeat
    dolor ab magnam nihil voluptatibus ea praesentium officiis blanditiis illum
    laudantium! Possimus placeat reiciendis, quam perspiciatis officiis aliquid.
  </p>
</DefaultLayout>
