---
import SplashLayout from "../layouts/splash.astro";
---

<SplashLayout>
  <section>
    <h1
      class="text-3xl text-amber-500 tracking-widest flex items-center justify-center"
    >
      <span class="text-white">//&nbsp;</span>black<span class="text-white"
        >.</span
      >star<span class="text-white">.</span>fantasy
    </h1>
    <h2 class="text-stone-400 text-center text-2xl mt-8">-- coming soon --</h2>
  </section>
</SplashLayout>
