---
import Image from "astro/components/Image.astro";
---

<section class="w-full flex flex-col items-center justify-center p-16">
  <span class="block mb-8 text-center">
    <h1 class="text-6xl font-bold">404</h1>
    <p class="text-xl">Whooops!</p>
  </span>

  <p class="text-sm text-stone-400 mb-8">
    The page you are looking for does not exist - OR - you are missing a
    trailing slash!
  </p>

  <a href="/home/">-- go home --</a>
</section>
